[Unit]
Description=uWSGI Service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/pi/cfjc/
ExecStart=/usr/local/bin/uwsgi /home/pi/cfjc/uwsgi.ini

[Install]
WantedBy=multi-user.target