body {
      display: grid;
      grid-template-columns: 80% 20%;
      grid-template-rows: 6.5vw 50vw;
      grid-gap: 1em;
    }

    header {
      grid-column: 1 / span 2;
    }

    /* Demo Specific Styles */
    body {
      margin: 0 auto;
      max-width: 80em;
      padding: 1em 0;
    }

    header,
    main,
    aside {
      background: #eaeaea;
      /*display: flex;*/
      align-items: center;
      justify-content: center;
    }

    .backlog {
        align-items: center;
    }